.about {
    margin-bottom: 260px;
    position: relative;
    transition: all 0.7s ease-out;
    
    @include breakpoint-down (large) {
        margin-top: 24rem;
        transition: all 0.7s ease-out;
    }
    @include breakpoint-down (intermediate) {
        margin-top: 26rem;
        margin-bottom: 8.75rem;
        transition: all 0.7s ease-out;
    }
    
    &__content {
        position: relative;
        transition: all 0.7s ease-out;
  
        @include breakpoint-down (intermediate) {
            margin-left: 2rem;
            transition: all 0.7s ease-out;
        }
        
        .orangestar{
            position: absolute;
            top: 10px;
            right: 440px;
            transition: all 0.7s ease-out;
            
            @include breakpoint-down (large) {
                top: -20px;
                right: 240px;
                transition: all 0.7s ease-out;
            }
            @include breakpoint-down (intermediate) {
                transform: scale(0.6);
                top: -20px;
                right: 45px;
                transition: all 0.7s ease-out;
            }
            
        }

        .about__title {
        margin-bottom: 0;

        }

        .about__subsection { 
            display: flex;
            @include breakpoint-down (large) {
                flex-direction: column;
            }
    
            .about__text {
                width: 65%;
                order: 2;
                height: auto;
                padding-right: 100px;
                font-weight: 600;
                @include breakpoint-down (large) {
                    height: auto;
                    padding-right: 0;
                    order: 0;
                    width: 90%;
                    font-weight: 600;
                    font-size: $font-sm-14px;
                }

                p {
                    @include breakpoint-down (large) {
                        font-size: $font-med-18px;
                    }
                    @include breakpoint-down (intermediate) {
                        font-size: $font-sm-14px;
                    }
                }
                
                .about__paragr-2 {
                    @include breakpoint-down (intermediate) {
                        margin-top: 2rem;
                    }

                }


            }


            .about__graphics {
                width: 35%;
                order: 1;
                height: auto;
                position: relative; 
                @include breakpoint-down (large) {
                    height: auto;
                    position: relative;
                }

      

                    .whitestar{
                        position: absolute;
                        top: 55px;
                        left: 15px;
                        @include breakpoint-down (large) {
                            display: none;
                        }
                        @include breakpoint-down (intermediate) {
                            top: -325px;
                            left: 265px;
                            position: absolute;
                            display: block;
                            width: 25%;
                            height: auto;
                            transition: all 0.7s ease-out;
                        }
                    }

                    .blackstar{
                        position: absolute;
                        bottom: 55px;
                        left: -30px;
                        @include breakpoint-down (large) {
                            display: none;
                        }
                    }

                    .arrow {
                        position: absolute;
                        bottom: -20px;
                        right: 160px;
                        @include breakpoint-down (large) {
                            bottom: -135px;
                            right: 215px;
                            transform: scale(0.7);
                        }
                        @include breakpoint-down (intermediate) {
                            bottom: -125px;
                            right: 35px;
                            transform: scale(0.5);
                        }
                    }
            }
        }
    }
}

