.about {

    .dash {
        position: relative;
        
        // Dash for esh section 
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 25px;
            height: 2px;
            width: 140px;
            background-color: hsl(25, 93%, 55%);
            transform: translateY(-50%);
        }
    }
}