// icons up-down animation
.animation {
    animation-name: infiniteupdown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all 0.3s;
}

@keyframes infiniteupdown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}


// icons twinkle/flicker effect 
    .twinkle{
        animation-name: infinitebigsmall;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        transition: all 0.3s;
    }

    @keyframes infinitebigsmall {
        0% {
            transform: scale(0.7);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(0.7);
        }        
    }




// // NFT collection animation left-right
// .collection__row1 {
//     // height: 5rem;
//     animation-name: infiniteupdown;
//     animation-duration: 5s;
//     animation-iteration-count: infinite;
//     animation-timing-function: ease;
//     transition: all 0.3s;
// }

// @keyframes infiniteupdown {
//     0% {
//         transform: translateX(0px);
//     }
//     50% {
//         transform: translateX(207px);
//     }
//     100% {
//         transform: translateX(0px);
//     }
// }


// .collection__row2 {
//     // height: 5rem;
//     animation-name: infiniteupdown;
//     animation-duration: 5s;
//     animation-iteration-count: infinite;
//     animation-timing-function: ease;
//     transition: all 0.3s;
// }

// @keyframes infiniteupdown {
//     0% {
//         transform: translateX(0px);
//     }
//     50% {
//         transform: translateX(-207px);
//     }
//     100% {
//         transform: translateX(0px);
//     }
// }



