// icons up-down animation
.animation {
    // height: 5rem;
    animation-name: infiniteupdown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all 0.3s;
}

@keyframes infiniteupdown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}



// // NFT collection animation left-right
// .collection__row1 {
//     // height: 5rem;
//     animation-name: infiniteupdown;
//     animation-duration: 5s;
//     animation-iteration-count: infinite;
//     animation-timing-function: ease;
//     transition: all 0.3s;
// }

// @keyframes infiniteupdown {
//     0% {
//         transform: translateX(0px);
//     }
//     50% {
//         transform: translateX(207px);
//     }
//     100% {
//         transform: translateX(0px);
//     }
// }


// .collection__row2 {
//     // height: 5rem;
//     animation-name: infiniteupdown;
//     animation-duration: 5s;
//     animation-iteration-count: infinite;
//     animation-timing-function: ease;
//     transition: all 0.3s;
// }

// @keyframes infiniteupdown {
//     0% {
//         transform: translateX(0px);
//     }
//     50% {
//         transform: translateX(-207px);
//     }
//     100% {
//         transform: translateX(0px);
//     }
// }



