.collection {
    margin-bottom: 130px;

    .container{

        .collection__title{
            h2{
                margin-bottom: 160px;
            }
        }

        .collection__nfts{
            overflow-x: visible;
            white-space: nowrap;
            
            .lineup {
                list-style: none;
                padding: 0;
                margin: 40px 0;
            
                .nft{
                // display: inline-block;
                display: inline;
                width: 100%;

                .icon {
                        border-radius: 40px;
                        margin-right: 30px;
                        width: 33%;
                        height: auto;
                        object-fit: cover;
                    }
                } 
            }
        }
    }
     
}