.faq {
    margin-bottom: 150px;
    transition: all 0.7s ease-out;
        
    @include breakpoint-down (large) {
        margin-left: 4rem;
        transition: all 0.7s ease-out;
    }

    .faq__title {
        padding-left: 100px;
        transition: all 0.7s ease-out;
        @include breakpoint-down (medium) {
            padding-left: 0px;
            transition: all 0.7s ease-out;
        }
    }

    /* Coder: Katherine Cato
    Website: https://codepen.io/kathykato/details/MoZJom
    Description: Parts of this code were written by Katherine Cato. */

    .faq__container {
        display: flex;
        margin: 0 3rem 0 auto;
        padding: 4rem;
        width: 48rem;
        position: relative;
        transition: all 0.7s ease-out;
        
        @include breakpoint-down (large) {
            margin: 0 5rem 0 auto;
            width: 39rem;
            transition: all 0.7s ease-out;
        }

        @include breakpoint-down (medium) {
            margin: 0 5rem 0 0;
            transition: all 0.7s ease-out;
        }

        .blackstar{
            position: absolute;
            left: -48%;
            top: 19%;
            transition: all 0.7s ease-out;
            @include breakpoint-down (medium) {
                left: 95%;
                top: -65%;
                transition: all 0.7s ease-out;
            }
        }

        .wavy{
            position: absolute;
            left: -74%;
            bottom: 20%;
            transition: all 0.7s ease-out;
            
            @include breakpoint-down (large) {
                left: -52%;
                transition: all 0.7s ease-out;
            }
        }

        * {
            box-sizing: border-box;
            &::before, &::after {
                box-sizing: border-box;
            }
        }
        

        .faq__accordion {

            .faq__item {
                border-bottom: 1px solid $black;
            }

            button {
                position: relative;
                display: block;
                text-align: left;
                width: 100%;
                padding: 1em 1.1em 1em 0em;
                color: $black;
                font-size: 1.15rem;
                font-weight: 500;
                border: none;
                background: none;
                outline: none;
                transition: all 0.7s ease-out;
                // this doesn't seem to be working
                @include breakpoint-down (medium) {
                    font-size: $font-sm-14px;
                    transition: all 0.7s ease-out;
                }



                &:hover, &:focus {
                cursor: pointer;

                    &::after {
                        cursor: pointer;
                    }
                }

                .faq__question {
                    padding: 0em 1.3em 0em 0;
                    margin-bottom: 0px;
                    margin-top: 0px;
            
                }

                .icon {
                    color: $backgroundColor-orange;
                    display: inline-block;
                    position: absolute;
                    top: 25px;
                    right: 0;
                    width: 22px;
                    height: 22px;

                
                    &::before {
                        display: block;
                        position: absolute;
                        content: "";
                        top: 9.7px;
                        left: 4.5px;
                        width: 12px;
                        height: 2.5px;
                        background: currentColor;
                    }
                    &::after {
                        display: block;
                        position: absolute;
                        content: "";
                        top: 5px;
                        left: 9px;
                        width: 2.5px;
                        height: 12px;
                        background: currentColor;
                    }
                }
            }
            button[aria-expanded='true'] {
                .icon {
                    &::after {
                        width: 0;
                    }
                }

                + .faq__answer {
                    opacity: 1;
                    max-height: 9em;
                    transition: all 0.5s linear;
                    will-change: opacity, max-height;
                }
            }

            .faq__answer {
                max-height: 0;
                overflow: hidden;
                transition: opacity 0.5s linear, max-height 0.5s linear;
                will-change: opacity, max-height;
                
                p {
                    font-family: $font-type-raleway;
                    font-size: $font-sm-14px;
                    font-weight: 300;
                    line-height: 1.5;
                    opacity: 0.7;
                    margin: 1rem 0;
                    transition: all 0.7s ease-out;
                    @include breakpoint-down (medium) {
                        font-size: $font-mini-12px;
                        transition: all 0.7s ease-out;
                    }
                    
                }
            }
        }
    }
}