.header {
    // logo
    img{

        height: 5rem;
        width: 11.5625rem;
    }
// Hamburger Open Styles
    &.open {

        .header__toggle{
            >span :first-child{
                transform: rotate(45deg);
            }

            >span :nth-child(2){
                opacity: 0;
            }

            >span :last-child{
                transform: rotate(-45deg);
            }
        }

    }

    .navbar {
        /* CSS code for navbar */
        position: fixed; 
        top: 0; 
        width: 100%; 
        background-color: transparent;
        transition: transform 0.7s ease-in-out; 
        padding: 20px;
        
        &.hide {
            transform: translateY(-100%);
            
        }
    }
    
    
    .navbar.active {
        
        padding: 20px;
        background-color: $backgroundColor;
        box-shadow: 0 10px 5px -5px #f2e7db;
    }


    nav{

        position: relative;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }

    &.sticky {

        position: fixed;
        top: 0;
        width: 100%;
      }

}
