.header {


    // logo
    img{

        height: 5rem;
        width: 11.5625rem;
    }

    // &__container {
    //     // padding: 25px;
    //     // margin: 25px;
    // }


// Hamburger Menu
    &__toggle {

        >span {
            display: block;
            width: 30px;
            height: 3px;
            margin: 7px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: $black;
        }

            &.onOff {

                :first-child{
                    transform: translateY(10px) rotate(45deg);
                 }
    
                 :nth-child(2){
                    opacity: 0;
                }
    
                :last-child{
                    transform: translateY(-10px) rotate(-45deg);
                }
                
            }

    }


    &__menu {

        img {
            height: auto;
            width: 1.575rem;
            cursor: pointer;
            position: fixed;
            top: 29px;
            right: 137px;

        }

        &.hide {
            opacity: 0;
        }

        &.has-fade{

            width: 100%;
            height: 100vh;
            position: fixed;
            z-index: 1;
            top: -20px;
            gap: 0;
            flex-direction: column;
            // background-color: #a5c9e7;
            background-color: $backgroundColor;
            text-align: center;
            padding: 70px;
            transition: ease-in-out;
            transition-delay: 0.3s;
        }

       

        &__item {
            background-color: red;
        }
        
        li {
            list-style: none;
            }

        a {
            color:green;
            text-decoration: none;
            }
    }
    
    // CSS code for navbar 
    .navbar {
        position: fixed; 
        top: 0; 
        // padding: 0 8.25rem 0 11rem;
        // padding: 5rem;
        padding: 5rem 8.25rem 5rem 11rem;

        width: 100%; 
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        transition: transform 0.7s ease-in-out; 
        
        &.hide {
            transform: translateY(-100%);
        }
    }
    
    
    .navbar.active {
        
        padding: 0 8.25rem 0 11rem;
        // padding: 5rem;
        transition: transform 0.7s; 

        background-color: $backgroundColor;
        box-shadow: 0 10px 5px -5px #f2e7db;
    }


    nav {
        position: relative;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }

    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

}
