.header {
    // logo
    img{

        height: 5rem;
        width: 11.5625rem;
    }
// Hamburger Menu
    &__toggle {

        >span {
            display: block;
            width: 30px;
            height: 3px;
            margin: 7px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: rebeccapurple;

            :first-child{
                transform: rotate(45deg);
             }

             :nth-child(2){
                opacity: 0;
            }

            :last-child{
                transform: rotate(-45deg);
            }
        }
    }

// Open : this could be used for the menu items 

    // &.open {

    //     .header__menu{
    //         >span 

    //         >span 

    //         >span 
    //     }

    // }


// CSS code for navbar 
    .navbar {
        position: fixed; 
        top: 0; 
        width: 100%; 
        background-color: transparent;
        transition: transform 0.7s ease-in-out; 
        padding: 20px;
        
        &.hide {
            transform: translateY(-100%);
            
        }
    }
    
    
    .navbar.active {
        
        padding: 20px;
        background-color: $backgroundColor;
        box-shadow: 0 10px 5px -5px #f2e7db;
    }


    nav{
        position: relative;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }

    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

}
