.hero {
    // background-color: $backgroundColor-grey;
  
    
    .header__logo {
        top: 65%;
        position: absolute;
        right: 10%;
    }

    .bgimage {
        background-image: url(../images/banner-gradient.png);

    }


}