.hero {
    
    .hero__image{
        position: relative;
        height: 500px;


        .hero__anime {
            top: 5%;
            position: absolute;
            right: 20%;

        }
    }
    
    // disabled tempararily
    // .bgimage {
    
    // }


}