.join {
    margin-bottom: 200px;
    
    .join__main {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1;
        margin-left: 0;

        img{
            border-radius: 50%;
            z-index: 1;
            position: relative;

            &.commuter1{
                position: absolute;
                top: 175px;
                left: 130px;
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    scale: 0.7; 
                    top: 145px;
                    left: 95px;
                    // transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    scale: 0.6;
                    top: -75px;
                    left: 25px;
                    // transition: all 0.7s ease-out;
                }
            }

            &.commuter2{
                position: absolute;
                top: -110px;
                left: 395px;
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    scale: 0.7; 
                    top: -5px;
                    left: 240px;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    display: none;
                }
            }

            &.commuter3{
                position: absolute;
                top: 20px;
                right: 100px;
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    scale: 0.7; 
                    top: 35px;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    top: 260px;
                    right: -10px;
                    scale: 0.4;
                }
            }

            &.commuter4{
                position: absolute;
                bottom: 215px;
                left: 130px;
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    scale: 0.7; 
                    bottom: 160px;
                    left: 100px;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    bottom: -10px;
                    left: 60px;
                    scale: 0.6;
                }
            }

            &.commuter5{
                position: absolute;
                bottom: -17px;
                right: 228px;
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    scale: 0.7; 
                    bottom: 45px;
                    right: 160px;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    display: none;
                }
            }

            &.whitestar {
                position: absolute;
                top: 345px;
                right: 205px;
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    top: 240px;
                    right: 160px;
                    scale: 0.5;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    top: 360px;
                    right: 10px;
                }
            }

            &.orangestar{
                position: absolute;
                bottom: 500px;
                right: -15px;
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    bottom: 335px;
                    right: 40px;
                    scale: 0.6;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    bottom: 90%;
                }
            }

            &.blackstar{
                position: absolute;
                bottom: 380px;
                left: 20px;
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    bottom: 260px;
                    left: 70px;
                    scale: 0.6;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    bottom: -70px;
                    left: 30px;
                }
            }

            &.ondulation {
                position: absolute;
                bottom: 210px;
                right: 70px;
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    bottom: 176px;
                    right: 33px;
                    scale: 0.4;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    bottom: 315px;
                    right: -70px;
                }
                
            }
        }

        .join__circle {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
      
        .inner-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 1px solid ;

            &.circle0 {
                width: calc(100% + 160px);
                height: calc(100% + 160px);
                border-color:  rgba(255, 165, 0, 0.4);
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    width: calc(100% - 30px);
                    height: calc(100% - 30px);
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    width: calc(100% + 130px);
                    height: calc(100% + 130px);
                    transition: all 0.7s ease-out;
                }
            }
     
            &.circle1 {
                width: calc(100% - 110px);
                height: calc(100% - 110px);
                border-color:  rgba(255, 165, 0, 0.4);
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    width: calc(100% - 160px);
                    height: calc(100% - 160px);
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    width: calc(100% - 0px);
                    height: calc(100% - 0px);
                    transition: all 0.7s ease-out;
                }
            }
            
            &.circle2 {
                width: calc(100% - 380px);
                height: calc(100% - 380px);
                border-color:  rgba(255, 165, 0, 0.4);
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    width: calc(100% - 300px);
                    height: calc(100% - 300px);
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    width: calc(100% - 120px);
                    height: calc(100% - 120px);
                    transition: all 0.7s ease-out;
                }
            }
            
            &.circle3 {
                width: calc(100% - 650px);
                height: calc(100% - 650px);
                border-color: rgba(255, 165, 0, 0.2);
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    width: calc(100% - 450px);
                    height: calc(100% - 450px);
                    transition: all 0.7s ease-out;
                }
            }
            
    
        }
          
        .join__content{
            z-index: 1;
            width: 70%;
            height: 550px;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.7s ease-out;
            @include breakpoint-down (medium) {
                height: 360px;
                transition: all 0.7s ease-out;
            }



            .join__pretitle {
                font-family: $font-type-raleway;
                font-size: $font-midlg-28px;
                font-weight: 500;
                line-height: 1;
                color: $backgroundColor-orange;
                margin-bottom: 1.5rem;
            }

            .join__subtitle {
                text-align: center;
                padding-right: 180px;
            }
            
            .join__title{
                text-align: center;
                display: flex;
                flex-direction: column;
                margin-bottom: 1.5rem;
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    margin-bottom: 1rem;
                    transition: all 0.7s ease-out;
                }
            }
            
            .join__text{
                text-align: center;
                margin: 0 auto 40px;
                font-weight: 500;
                transition: all 0.7s ease-out;
                @include breakpoint-down (medium) {
                    margin: 0 auto 15px;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    display: none;
                }
            }
            
        }
      
      
    }
   
      

}