.roadmap{
    margin-bottom: 200px;
    transition: all 0.7s ease-out;
        
    &__main {
        margin-bottom: 160px;
        position: relative;
        @include breakpoint-down (intermediate) {
            margin-bottom: 7rem;
        }

        .blackstar {
            position: absolute;
            top: -30px;
            right: 340px;

            @include breakpoint-down (intermediate) {
                right: 65px;
                transform: scale(0.6);
            }
        }

        h2 {
            @include breakpoint-down (large){
                max-width: 660px;
                transition: all 0.7s ease-out;
            }
            @include breakpoint-down (medium){
                max-width: 550px;
                transition: all 0.7s ease-out;
            }
        }
    }
    
    &__phases{
        .roadmap__phase1{
            display: flex;
            height: auto;
            position: relative;
            margin-bottom: 150px;

            @include breakpoint-down (intermediate) {
                flex-direction: column;
            }

            .arrow {
                position: absolute;
                top: -80px;
                left: 205px;
                transition: all 0.7s ease-out;

                @include breakpoint-down (medium) {
                    top: -130px;
                    left: 165px;
                    scale: 0.7;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (medium) {
                    display: none;
                }
            }

            .whitestar {
                position: absolute;
                top: 90px;
                right: 20px;
                z-index: 1;
                transition: all 0.7s ease-out;

                @include breakpoint-down (medium) {
                    right: 75px;
                    scale: 0.5;
                    transition: all 0.7s ease-out;
                }

            }

            .blackstar {
                position: absolute;
                top: -10px;
                right: -39px;
                z-index: 1;
                scale: 0.8;

                @include breakpoint-down (medium) {
                    right: 25px;
                    scale: 0.7;
                    top: 0px;
                }
 
            }


            
            .roadmap__graphics{
                width: 65%;
                order: 3;
                display: flex;
                justify-content: right;
                transition: all 0.7s ease-out;

                @include breakpoint-down (medium) {
                    width: 50%;
                    transition: all 0.7s ease-out;
                }
                
                @include breakpoint-down (intermediate) {
                    order: 1;
                    width: 80%;
                    transition: all 0.7s ease-out;
                }
                
                .roadmap__canvas{
                    border-radius: 90px;
                    width: 560px;
                    height: 570px;
                    background-color:$backgroundColor-canvas-top;
                    position: relative;
                    transition: all 0.7s ease-out;

                    @include breakpoint-down (medium) {
                        border-radius: 40px;
                        width: 300px;
                        height: 300px;
                        transition: all 0.7s ease-out;
                    }
                    
                    
                    .hands{
                        position: absolute;
                        bottom: -45px;
                        left: 20px;
                        transition: all 0.7s ease-out;

                        @include breakpoint-down (medium) {
                            width: 100%;
                            height: auto;
                            transition: all 0.7s ease-out;
                        }
                        @include breakpoint-down (intermediate) {
                            bottom: -15px;
                            transition: all 0.7s ease-out;
                        }
                    }
                }
                
            } 

            .roadmap__content{
                width: 35%;
                padding-right: 5rem;
                order: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transition: all 0.7s ease-out;

                @include breakpoint-down (medium) {
                    padding-right: 2rem;
                    width: 40%;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    width: 100%;
                    margin-top: 2rem;
                    transition: all 0.7s ease-out;
                }
    
                .roadmap__pretitle {
                    font-family: $font-type-raleway;
                    font-size: $font-midlg-28px;
                    font-weight: 500;
                    line-height: 1;
                    color: $backgroundColor-orange;
                    margin-bottom: 25px;
                    transition: all 0.7s ease-out;
                    
                    @include breakpoint-down (medium) {
                        font-size: $font-lg-20px;
                        transition: all 0.7s ease-out;
                    }
                }
                
                .roadmap__title{
                    font-family: $font-type-righteous;
                    font-size: $font-xlg-60px;
                    font-weight: 500;
                    margin-bottom: 25px;
                    transition: all 0.7s ease-out;

                    @include breakpoint-down (medium) {
                        font-size: $font-mlg-45px;
                        transition: all 0.7s ease-out;
                    }
                    
                }
                
                .roadmap__text{
                    font-family: $font-type-raleway;
                    font-size: $font-sm-14px;
                    font-weight: 500;
                    line-height: 1.5;
                    transition: all 0.7s ease-out;

                    @include breakpoint-down (medium) {
                        font-size: $font-mini-12px;
                        transition: all 0.7s ease-out;
                    }
                }
            }
        }


        .roadmap__phase2 {
            display: flex;
            position: relative;

            .whitestar {
                position: absolute;
                top: 90px;
                left: 461px;
                z-index: 1;
                transition: all 0.7s ease-out;

                @include breakpoint-down (medium) {
                    bottom: -40px;
                    left: 230px;
                    width: 5%;
                    transition: all 0.7s ease-out;
                }
            }

            .orangestar {
                position: absolute;
                top: 2px;
                left: 586px;
                z-index: 1;
                scale: 0.8;
                transition: all 0.7s ease-out;

                @include breakpoint-down (medium) {
                    top: 0px;
                    left: 340px;
                    scale: 0.8;
                    transition: all 0.7s ease-out;
                }
            }

            .wavy {
                position: absolute;
                bottom: -25px;
                right: -209px;
                z-index: 1;
                transition: all 0.7s ease-out;

 
            }

            .roadmap__graphics{
                width: 65%;
                order: 1;
                display: flex;
                justify-content: left;
                transition: all 0.7s ease-out;

                @include breakpoint-down (medium) {
                    width: 50%;
                    transition: all 0.7s ease-out;
                }
                
                .roadmap__canvas{
                    border-radius: 90px;
                    width: 570px;
                    height: 570px;
                    background-color:$backgroundColor-canvas-bottom;
                    position: relative;
                    transition: all 0.7s ease-out;

                    @include breakpoint-down (medium) {
                        border-radius: 40px;
                        width: 315px;
                        height: 315px;
                        transition: all 0.7s ease-out;
                    }
                    
                    .student{
                        position: absolute;
                        bottom: -45px;
                        left: 100px;
                        transition: all 0.7s ease-out;

                        @include breakpoint-down (medium) {
                            bottom: -40px;
                            left: 60px;
                            width: 64%;
                            height: auto;
                            transition: all 0.7s ease-out;
                        }
                        
                    }
                }
                
            } 

            .roadmap__content{
                width: 35%;
                padding-right: 5rem;
                order: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transition: all 0.7s ease-out;
                
                @include breakpoint-down (medium) {
                    width: 40%;
                    padding-left: 3rem;
                    padding-right:0;
                    transition: all 0.7s ease-out;
                }
                @include breakpoint-down (intermediate) {
                    order: 1;
                    width: 40%;
                    padding-left: 3rem;
                    padding-right:0;
                    transition: all 0.7s ease-out;
                }
    
                .roadmap__pretitle {
                    font-family: $font-type-raleway;
                    font-size: $font-midlg-28px;
                    font-weight: 500;
                    line-height: 1;
                    color: $backgroundColor-orange;
                    margin-bottom: 25px;
                    transition: all 0.7s ease-out;
                    
                    @include breakpoint-down (medium) {
                        font-size: $font-lg-20px;
                        transition: all 0.7s ease-out;
                    }
                }
                
                .roadmap__title{
                    font-family: $font-type-righteous;
                    font-size: $font-xlg-60px;
                    font-weight: 500;
                    margin-bottom: 25px;
                    transition: all 0.7s ease-out;

                    @include breakpoint-down (medium) {
                        font-size: $font-mlg-45px;
                        transition: all 0.7s ease-out;
                    }
                    
                }
                
                .roadmap__text{
                    font-family: $font-type-raleway;
                    font-size: $font-sm-14px;
                    font-weight: 500;
                    line-height: 1.5;
                    transition: all 0.7s ease-out;

                    @include breakpoint-down (medium) {
                        font-size: $font-mini-12px;
                        transition: all 0.7s ease-out;
                    }
    
                }
            }
        }
        
    }
}