.roadmap{
    &__phases{
        .roadmap__phase1{
            border: 2px solid yellowgreen;
            display: flex;
            height: auto;
            
        //    .roadmap__graphics{
            
            //    } 
            
            .roadmap__content{
                border: 2px solid royalblue;
                width: 50%;
                order: 2;
                // padding-right: 100px;
                // font-weight: 600;
            }
        }
    }
}