// Color 
$backgroundColor: hsl(32, 86%, 95%);
$backgroundColor-orange: hsl(25, 93%, 55%);
$backgroundColor-grey: hsl(32, 9%, 67%);

$boxShadow:hsl(31, 47%, 90%);
$black:hsl(192, 17%, 11%);


//Font Sizes
$font-sm-14px: 0.875rem; // 14px
$font-med-18px: 1.125rem; // 18px
$font-lg-20px: 1.25rem; // 20px
$font-mlg-45px: 2.8125rem; // 45px
$font-xlg-60px: 3.75rem; // 60px
$font-xxlg-93px: 5.78125rem; // 92.5px
$font-xxxlg-134px: 8.381rem;; // 134px


// Font Types
$font-type-righteous: "Righteous", cursive;
$font-type-raleway: "Raleway", sans-serif;