// Color 
$backgroundColor: hsl(32, 86%, 95%);
$boxShadow:hsl(31, 47%, 90%);


//Font Sizes
$font-sm-14px: 0.875rem; // 14px
$font-med-18px: 1.125rem; // 18px
$font-lg-20px: 1.25rem; // 20px
$font-xlg-52px: 3.25rem; // 52px