.animation {
  animation-name: infiniteupdown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}
.animation.delayed {
  animation-delay: 0.5s; /* add a delay of 0.5s */
}
.animation.delayed1 {
  animation-delay: 0.8s; /* add a delay of 0.8s */
}

@keyframes infiniteupdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.twinkle {
  animation-name: infinitebigsmall;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}
.twinkle.delayed {
  animation-delay: 0.5s;
}
.twinkle.delayed1 {
  animation-delay: 0.8s;
}

@keyframes infinitebigsmall {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.7);
  }
}
.collection__row1 {
  animation-name: sideways;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: all 0.3s;
}

@keyframes sideways {
  0% {
    transform: translateX(-1080px);
  }
  50% {
    transform: translateX(-190px);
  }
  100% {
    transform: translateX(-1080px);
  }
}
.collection__row2 {
  animation-name: sidewaysdown;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: all 0.3s;
}

@keyframes sidewaysdown {
  0% {
    transform: translateX(-180px);
  }
  50% {
    transform: translateX(-1090px);
  }
  100% {
    transform: translateX(-180px);
  }
}
@font-face {
  font-family: "Righteous";
  src: url("./../Fonts/Righteous/Righteous-Regular.ttf") format("truetype"), url("./../Fonts/Righteous/Righteous-Regular.ttf") format("woff2"), url("./../Fonts/Righteous/Righteous-Regular.ttf") format("woff");
  font-family: "Raleway";
  src: url("./../Fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype"), url("./../Fonts/Raleway/Raleway-VariableFont_wght.ttf") format("woff2"), url("./../Fonts/Raleway/Raleway-VariableFont_wght.ttf") format("woff");
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  overflow-x: hidden;
  background-color: hsl(32, 86%, 95%);
  background-image: url(../images/banner-gradient.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 180vh;
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.15;
  margin-top: 0;
}

h1 {
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  font-size: 8.381rem;
  line-height: 1;
}

h2 {
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  font-size: 5.78125rem;
  line-height: 1;
}

p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
}

.headline {
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  font-size: 1.95rem;
  font-weight: normal;
  line-height: 1;
  color: hsl(25, 93%, 55%);
  margin-bottom: 10px;
}
.headline .dash {
  position: relative;
}
.headline .dash::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  height: 2px;
  width: 140px;
  background-color: hsl(25, 93%, 55%);
  transform: translateY(-50%);
}

.header__logo {
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid rebeccapurple;
  max-width: 73.375rem;
  margin: 0 auto;
}

/*  3D Button*/
.button {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 60px;
  background-color: white;
  color: hsl(25, 93%, 55%);
  border: 1px solid hsl(25, 93%, 55%);
  border-radius: 40px;
  box-shadow: 4px 7px 0px rgb(247, 123, 33);
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: translate3d(3px, 3px, 3px);
  box-shadow: 2px 2px 0px rgba(247, 123, 33, 0.9);
}

.header {
  transition: transform 0.7s ease-in-out;
}
.header .navbar {
  position: fixed;
  top: 0;
  padding: 5rem 8.25rem 5rem 11rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: 0.7s ease-in-out;
}
.header .navbar.hide {
  transform: translateY(-100%);
}
.header .navbar.active {
  padding: 0 8.25rem 0 11rem;
  transition: transform 0.7s;
  z-index: 2;
  background-color: hsl(32, 86%, 95%);
  box-shadow: 0 10px 5px -5px #f2e7db;
}
.header nav {
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  transition: transform 0.7s ease-in-out;
}
.header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.header img {
  height: 5rem;
  width: 11.5625rem;
}
.header a {
  color: hsl(32, 9%, 67%);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.header a:hover {
  color: hsl(192, 17%, 11%);
}
.header__toggle > span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: hsl(192, 17%, 11%);
}
.header__toggle.onOff :first-child {
  transform: translateY(10px) rotate(45deg);
}
.header__toggle.onOff :nth-child(2) {
  opacity: 0;
}
.header__toggle.onOff :last-child {
  transform: translateY(-10px) rotate(-45deg);
}
.header__menu .closeMenu {
  height: auto;
  width: 1.575rem;
  cursor: pointer;
  position: fixed;
  top: 6.75rem;
  right: 8.4375rem;
}
.header__menu.hide {
  opacity: 0;
}
.header__menu.has-fade {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: -20px;
  gap: 0;
  flex-direction: column;
  background-color: hsl(32, 86%, 95%);
  text-align: center;
  padding: 70px;
  transition: ease-in-out;
}
.header__menu.wrapper {
  display: flex;
  text-align: left;
  margin: 2rem;
  overflow: hidden;
  flex-direction: column;
  transition: all 0.7s ease-out;
}
@media (max-width: 47.875em) {
  .header__menu.wrapper {
    margin-top: 9rem;
    margin-left: -3rem;
    transition: all 0.7s ease-out;
  }
}
.header__menu .header__item {
  list-style: none;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  font-size: 5.78125rem;
  transition: transform 0.7s ease-out;
  position: relative;
  margin-left: -40px;
  max-width: 80px;
  line-height: 1;
  transition: all 0.7s ease-out;
}
@media (max-width: 87.4375em) {
  .header__menu .header__item {
    font-size: 3.75rem;
    transition: all 0.7s ease-out;
  }
}
@media (max-width: 63.9375em) {
  .header__menu .header__item {
    font-size: 2.8125rem;
    transition: all 0.7s ease-out;
  }
}
.header__menu .header__item .dot {
  display: none;
}
.header__menu .header__item::before {
  position: absolute;
  content: "";
  left: -100px;
  top: 50%;
  height: 3px;
  width: 100px;
  background-color: hsl(25, 93%, 55%);
  transform: translateY(-50%);
}
@media (max-width: 63.9375em) {
  .header__menu .header__item::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 3px;
    width: 100px;
  }
}
.header__menu .header__item:hover {
  transform: translateX(90px);
}
@media (max-width: 63.9375em) {
  .header__menu .header__item:hover {
    transform: translateX(40px);
  }
}
.header__menu .header__item:hover .dot {
  display: inline;
}
.header__menu.social {
  height: 10vh;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.header__menu.social .header__socials {
  transition: all 0.7s ease-out;
  margin-right: 50px;
}
.header__menu.social .header__socials i {
  margin: 0 30px;
  transform: scale(4);
}
@media (max-width: 63.9375em) {
  .header__menu.social .header__socials i {
    transform: scale(3);
    margin: 0px 15px;
    transition: all 0.7s ease-out;
  }
}
@media (max-width: 47.875em) {
  .header__menu.social .header__socials i {
    transform: scale(2.8);
    transition: all 0.7s ease-out;
    margin-right: -18px;
  }
}
.header__menu.paparazzi {
  position: absolute;
  right: 290px;
  top: 390px;
  transform: scaleX(-1);
  width: 100%;
  z-index: -1;
}
@media (max-width: 87.4375em) {
  .header__menu.paparazzi {
    right: 270px;
    top: 330px;
    transition: all 0.7s ease-out;
  }
}
@media (max-width: 63.9375em) {
  .header__menu.paparazzi {
    right: 170px;
    top: 250px;
    transition: all 0.7s ease-out;
  }
}
.header__menu .photographer {
  width: 30%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 63.9375em) {
  .header__menu .photographer {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 47.875em) {
  .header__menu .photographer {
    display: none;
  }
}
.header__menu.star1 {
  position: absolute;
  right: 950px;
  top: 630px;
}
@media (max-width: 87.4375em) {
  .header__menu.star1 {
    right: 610px;
    top: 520px;
    transition: all 0.7s ease-out;
  }
}
@media (max-width: 63.9375em) {
  .header__menu.star1 {
    right: 420px;
    top: 425px;
    transition: all 0.7s ease-out;
  }
}
@media (max-width: 47.875em) {
  .header__menu.star1 {
    right: 130px;
    top: 430px;
    transition: all 0.7s ease-out;
  }
}
.header__menu.star1 .blackstar {
  width: 100%;
  height: 20px;
  object-fit: cover;
}
.header__menu.star2 {
  position: absolute;
  right: 630px;
  top: 345px;
}
@media (max-width: 87.4375em) {
  .header__menu.star2 {
    right: 610px;
    top: 275px;
    transition: all 0.7s ease-out;
  }
}
@media (max-width: 63.9375em) {
  .header__menu.star2 {
    right: 400px;
    top: 220px;
    transition: all 0.7s ease-out;
  }
}
@media (max-width: 47.875em) {
  .header__menu.star2 {
    right: 110px;
    top: 220px;
    transition: all 0.7s ease-out;
  }
}
.header__menu.star2 .orangestar {
  width: 100%;
  height: 20px;
  object-fit: cover;
}
.header__menu.star3 {
  position: absolute;
  right: 700px;
  top: 415px;
}
@media (max-width: 87.4375em) {
  .header__menu.star3 {
    right: 670px;
    top: 305px;
    transition: all 0.7s ease-out;
  }
}
@media (max-width: 63.9375em) {
  .header__menu.star3 {
    right: 460px;
    top: 250px;
    transition: all 0.7s ease-out;
  }
}
@media (max-width: 47.875em) {
  .header__menu.star3 {
    right: 150px;
    top: 250px;
    transition: all 0.7s ease-out;
  }
}
.header__menu.star3 .whitestar {
  width: 110%;
  height: 70px;
  object-fit: cover;
}
@media (max-width: 47.875em) {
  .header__menu.star3 .whitestar {
    width: 100%;
    height: 60px;
  }
}

.social {
  height: 5vh;
}

.hero .bgimage {
  display: flex;
  position: relative;
  margin-bottom: 240px;
  padding-bottom: 40px;
}
.hero .bgimage .hero__text {
  width: auto;
  order: 1;
  z-index: 1;
}
.hero .bgimage .hero__text .hero__subtitle {
  font-weight: normal;
  font-size: 1.95rem;
  margin-bottom: 0.5rem;
}
.hero .bgimage .hero__title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3.3rem;
}
.hero .bgimage .hero__title .second-word {
  margin-left: 140px;
}
.hero .bgimage .hero__title .second-word::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  height: 3px;
  width: 108px;
  background-color: hsl(25, 93%, 55%);
  transform: translateY(-50%);
}
.hero .hero__image {
  width: 65%;
  order: 2;
  height: auto;
  position: relative;
}
.hero .hero__image .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 165, 0, 0.4);
  z-index: -1;
}
.hero .hero__image .circle.hero__outter {
  height: 1100px;
  width: 1100px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -20%);
}
.hero .hero__image .circle.hero__outter .lady {
  position: absolute;
  bottom: 5px;
  right: 100px;
  width: 26%;
}
.hero .hero__image .circle.hero__outter .top-ghost {
  position: absolute;
  top: 50px;
  left: 90px;
}
.hero .hero__image .circle.hero__outter .bottom-ghost {
  position: absolute;
  bottom: 200px;
  left: 170px;
}
.hero .hero__image .circle.hero__outter .whitestar {
  position: absolute;
  top: 350px;
  right: 420px;
}
.hero .hero__image .circle.hero__outter .blackstar {
  position: absolute;
  left: 320px;
  bottom: 100px;
}
.hero .hero__image .circle.hero__outter .orangestar {
  position: absolute;
  top: 290px;
  right: 290px;
}
.hero .hero__image .circle.hero__mid {
  height: 750px;
  width: 750px;
}
.hero .hero__image .circle.hero__inner {
  height: 500px;
  width: 500px;
}
.hero .hero__paparazzi {
  position: absolute;
  left: -375px;
  top: 310px;
  width: 108%;
  z-index: -1;
}
.hero .hero__wave {
  position: absolute;
  left: -176px;
  top: -44px;
  width: 108%;
  z-index: -1;
}

.about {
  margin-bottom: 260px;
  position: relative;
}
.about__content .orangestar {
  position: absolute;
  top: 10px;
  right: 440px;
}
.about__content .about__title {
  margin-bottom: 0px;
}
.about__content .about__subsection {
  display: flex;
}
.about__content .about__subsection .about__text {
  width: 65%;
  order: 2;
  height: auto;
  padding-right: 100px;
  font-weight: 600;
}
.about__content .about__subsection .about__graphics {
  width: 35%;
  order: 1;
  height: auto;
  position: relative;
}
.about__content .about__subsection .about__graphics .whitestar {
  position: absolute;
  top: 55px;
  left: 15px;
}
.about__content .about__subsection .about__graphics .blackstar {
  position: absolute;
  bottom: 90px;
  left: -30px;
}
.about__content .about__subsection .about__graphics .arrow {
  position: absolute;
  bottom: -20px;
  right: 160px;
}

.collection {
  margin-bottom: 130px;
}
.collection .container .collection__title h2 {
  margin-bottom: 160px;
}
.collection .container .collection__nfts {
  overflow-x: visible;
  white-space: nowrap;
}
.collection .container .collection__nfts .lineup {
  list-style: none;
  padding: 0;
  margin: 40px 0;
}
.collection .container .collection__nfts .lineup .nft {
  display: inline;
  width: 100%;
}
.collection .container .collection__nfts .lineup .nft .icon {
  border-radius: 40px;
  margin-right: 30px;
  width: 33%;
  height: auto;
  object-fit: cover;
}

.roadmap {
  margin-bottom: 200px;
}
.roadmap__main {
  margin-bottom: 160px;
  position: relative;
}
.roadmap__main .blackstar {
  position: absolute;
  top: -30px;
  right: 340px;
}
.roadmap__phases .roadmap__phase1 {
  display: flex;
  height: auto;
  position: relative;
  margin-bottom: 150px;
}
.roadmap__phases .roadmap__phase1 .arrow {
  position: absolute;
  top: -80px;
  left: 205px;
}
.roadmap__phases .roadmap__phase1 .whitestar {
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 1;
}
.roadmap__phases .roadmap__phase1 .blackstar {
  position: absolute;
  top: -10px;
  right: -39px;
  z-index: 1;
  scale: 0.8;
}
.roadmap__phases .roadmap__phase1 .roadmap__graphics {
  width: 65%;
  order: 3;
  display: flex;
  justify-content: right;
}
.roadmap__phases .roadmap__phase1 .roadmap__graphics .roadmap__canvas {
  border-radius: 90px;
  width: 560px;
  height: 570px;
  background-color: hsl(25, 100%, 90%);
  position: relative;
}
.roadmap__phases .roadmap__phase1 .roadmap__graphics .roadmap__canvas .hands {
  position: absolute;
  bottom: -45px;
  left: 20px;
}
.roadmap__phases .roadmap__phase1 .roadmap__content {
  width: 35%;
  padding-right: 5rem;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.roadmap__phases .roadmap__phase1 .roadmap__content .roadmap__pretitle {
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1;
  color: hsl(25, 93%, 55%);
  margin-bottom: 25px;
}
.roadmap__phases .roadmap__phase1 .roadmap__content .roadmap__title {
  font-family: "Righteous", cursive;
  font-size: 3.75rem;
  font-weight: 500;
  margin-bottom: 25px;
}
.roadmap__phases .roadmap__phase1 .roadmap__content .roadmap__text {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}
.roadmap__phases .roadmap__phase2 {
  display: flex;
  position: relative;
}
.roadmap__phases .roadmap__phase2 .whitestar {
  position: absolute;
  top: 90px;
  left: 461px;
  z-index: 1;
}
.roadmap__phases .roadmap__phase2 .orangestar {
  position: absolute;
  top: 2px;
  left: 586px;
  z-index: 1;
  scale: 0.8;
}
.roadmap__phases .roadmap__phase2 .wavy {
  position: absolute;
  bottom: -25px;
  right: -209px;
  z-index: 1;
}
.roadmap__phases .roadmap__phase2 .roadmap__graphics {
  width: 65%;
  order: 1;
  display: flex;
  justify-content: left;
}
.roadmap__phases .roadmap__phase2 .roadmap__graphics .roadmap__canvas {
  border-radius: 90px;
  width: 560px;
  height: 570px;
  background-color: hsl(43, 75%, 81%);
  position: relative;
}
.roadmap__phases .roadmap__phase2 .roadmap__graphics .roadmap__canvas .student {
  position: absolute;
  bottom: -45px;
  left: 100px;
}
.roadmap__phases .roadmap__phase2 .roadmap__content {
  width: 35%;
  padding-right: 5rem;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.roadmap__phases .roadmap__phase2 .roadmap__content .roadmap__pretitle {
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1;
  color: hsl(25, 93%, 55%);
  margin-bottom: 25px;
}
.roadmap__phases .roadmap__phase2 .roadmap__content .roadmap__title {
  font-family: "Righteous", cursive;
  font-size: 3.75rem;
  font-weight: 500;
  margin-bottom: 25px;
}
.roadmap__phases .roadmap__phase2 .roadmap__content .roadmap__text {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

.join {
  margin-bottom: 200px;
}
.join .join__main {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}
.join .join__main img {
  border-radius: 50%;
  z-index: 1;
  position: relative;
}
.join .join__main img.commuter1 {
  position: absolute;
  top: 175px;
  left: 130px;
}
.join .join__main img.commuter2 {
  position: absolute;
  top: -110px;
  left: 395px;
}
.join .join__main img.commuter3 {
  position: absolute;
  top: 20px;
  right: 100px;
}
.join .join__main img.commuter4 {
  position: absolute;
  bottom: 215px;
  left: 130px;
}
.join .join__main img.commuter5 {
  position: absolute;
  bottom: -17px;
  right: 228px;
}
.join .join__main img.whitestar {
  position: absolute;
  top: 345px;
  right: 205px;
}
.join .join__main img.orangestar {
  position: absolute;
  bottom: 500px;
  right: -15px;
}
.join .join__main img.blackstar {
  position: absolute;
  bottom: 380px;
  left: 20px;
}
.join .join__main img.ondulation {
  position: absolute;
  bottom: 210px;
  right: 70px;
}
.join .join__main .join__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.join .join__main .inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid;
}
.join .join__main .inner-circle.circle0 {
  width: calc(100% + 160px);
  height: calc(100% + 160px);
  border-color: rgba(255, 165, 0, 0.4);
}
.join .join__main .inner-circle.circle1 {
  width: calc(100% - 110px);
  height: calc(100% - 110px);
  border-color: rgba(255, 165, 0, 0.4);
}
.join .join__main .inner-circle.circle2 {
  width: calc(100% - 380px);
  height: calc(100% - 380px);
  border-color: rgba(255, 165, 0, 0.4);
}
.join .join__main .inner-circle.circle3 {
  width: calc(100% - 650px);
  height: calc(100% - 650px);
  border-color: rgba(255, 165, 0, 0.2);
}
.join .join__main .join__content {
  z-index: 1;
  width: 70%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join .join__main .join__content .join__pretitle {
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1;
  color: hsl(25, 93%, 55%);
  margin-bottom: 25px;
}
.join .join__main .join__content .join__subtitle {
  text-align: center;
  padding-right: 180px;
}
.join .join__main .join__content .join__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.join .join__main .join__content .join__text {
  text-align: center;
  margin: 0 auto 40px;
  font-weight: 500;
}

.faq {
  /*
    Coder: Katherine Cato
    Website: https://codepen.io/kathykato/details/MoZJom
    Description: Parts of this code were written by Katherine Cato.
  */
}
.faq__title {
  padding-left: 100px;
}
.faq * {
  box-sizing: border-box;
}
.faq *::before, .faq *::after {
  box-sizing: border-box;
}
.faq .faq__container {
  display: flex;
  min-height: 100vh;
  margin: 0 3rem 0 auto;
  padding: 4rem;
  width: 48rem;
}
.faq .faq__accordion .faq__item {
  border-bottom: 1px solid hsl(192, 17%, 11%);
}
.faq .faq__accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 1.1em 1em 0em;
  color: hsl(192, 17%, 11%);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.faq .faq__accordion button:hover, .faq .faq__accordion button:focus {
  cursor: pointer;
}
.faq .faq__accordion button:hover::after, .faq .faq__accordion button:focus::after {
  cursor: pointer;
}
.faq .faq__accordion button .faq__question {
  padding: 0em 1.3em 0em 0;
  margin-bottom: 0px;
  margin-top: 0px;
}
.faq .faq__accordion button .icon {
  color: hsl(25, 93%, 55%);
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 0;
  width: 22px;
  height: 22px;
}
.faq .faq__accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9.7px;
  left: 4.5px;
  width: 12px;
  height: 2.5px;
  background: currentColor;
}
.faq .faq__accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2.5px;
  height: 12px;
  background: currentColor;
}
.faq .faq__accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.faq .faq__accordion button[aria-expanded=true] + .faq__answer {
  opacity: 1;
  max-height: 9em;
  transition: all 0.5s linear;
  will-change: opacity, max-height;
}
.faq .faq__accordion .faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s linear, max-height 0.5s linear;
  will-change: opacity, max-height;
}
.faq .faq__accordion .faq__answer p {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  opacity: 0.7;
  margin: 1rem 0;
}